name: tests
on:
  push:
    branches-ignore: [main]
  workflow_dispatch:

jobs:
  unit-tests:
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        node_version: [lts/-1, lts/*, latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          cache: true
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node_version }}
          cache: pnpm
      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: latest
      - run: pnpm install
      - name: Run Biome
        run: biome ci .
      - run: pnpm run build
      - run: pnpm run test
